#inputs input{
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    float: none;
}
#heading {
    margin-bottom: 20px;
}
table {
    margin: auto;
    margin-top: 15px;
    width: 80%;
    border-radius: 10px;
}
table tr th{
    padding: 20px;
    background: aliceblue;
}
tr th:first-of-type {
  border-top-left-radius: 20px;
}
tr th:last-of-type {
  border-top-right-radius: 20px;
}
tr td:first-of-type {
  border-bottom-left-radius: 20px;
}
tr td:last-of-type {
  border-bottom-right-radius: 20px;
}
