<!DOCTYPE html>
<html>
<head>
	<title>About Page!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body style = "background: -webkit-linear-gradient(right, #2980b9, #2ecc71)">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Moviefy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="about">About <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="https://github.com/Snehashish-s-Organization">Source Code</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="home">Dashboard</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0" method = "POST">
                    <button class="btn btn-outline-success my-2 my-sm-0" name="log_in_out" value="{{log_msg}}"
                    type="submit" {{status}}>{{log_msg}}</button>
                  </form>
                </div>
              </nav>

<div style = "position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: whitesmoke;
        text-align: left;
        padding: 50px;
        padding-bottom: 75px;
        border-radius: 10px">
        	<h2>About this Project:</h2>
<p>This is a Web app Built using a Python Web Framework called Flask. Flask is an easy to work with framework in Python and thats why it is used in this web app as the app isn't that complex. The Project took about a week to develop and was a vey interesting project to work on. The app is a movie collection website where you can keep track of the movies you watch or want to watch. This can be useful if you watch a lot of movies and want to keep track of how many you watch in a month or if you want to see if you have watched a moive before if you can't remember.</p>
	<h3>About the developers:</h3>
	<p>This Project has been built by Snehashish Laskar and Ishan Kashyap. We are 13 year old developrs who are intrested in working with Python. We have a Command Line Interface version of this project on our github organization <a href="https:///github.com/Snehashish-s-Organization">CLick here to view.</a> We are coming up with more projects too. We will post all our code on github so be sure to check it out there. If you want the source code to this website then click on the Source Code link on the navbar!</p>

        </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>