{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block header %}
<style>
#inputs input{
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    float: none;
}
#heading {
    margin-bottom: 20px;
}
table {
    margin: auto;
    margin-top: 15px;
    width: 80%;
    border-radius: 10px;
}
th:first-of-type {
  border-top-left-radius: 20px;
}
th:last-of-type {
  border-top-right-radius: 20px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 20px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 20px;
}
</style>
{% endblock %}

{% block content %}

<h3 id="heading">Hello And Welcome to this Movie Archive Website!!!</h3>


<form method= "POST">
    <label id="inputs">
        <input type="search" id = "myInput"placeholder="Search for Movies" style="width: 800px" name="search" data-inline="true" onkeyup="myFunction()">
    </label>
</form>
<form action="#" method="POST">
    <button  class = "btn btn-success my-2 my-sm-0" style = "margin: 0px;"type="submit" name = "addd" data-inline="true">Add a movie</button>
    <button  class = "btn btn-success my-2 my-sm-0" style = "margin: 0px;"type="submit" name = "rem" data-inline="true">Remove a movie</button>
</form>
<table id="myTable">
    <tr>
        <th>Name</th>
        <th>Language</th>
        <th>Month</th>
        <th>Status</th>
    </tr>
    {% for i in data %}
        <tr>
            <td style = "padding: 20px;
            background: aliceblue;">{{i['name']}}</td>
            <td style = "padding: 20px;
            background: aliceblue;">{{i['lang']}}</td>
            <td style = "padding: 20px;
            background: aliceblue;">{{i['month']}}</td>
            <td style = "padding: 20px;
            background: aliceblue;">{{i['status']}}</td>
        </tr>
    {% endfor %}
</table>

{{msg}}
{{ms}}
{% endblock %}